{
  "project_info": {
    "project_number": "353317807467",
    "project_id": "tabaaq-67ffc",
    "storage_bucket": "tabaaq-67ffc.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:353317807467:android:REPLACE_AFTER_REGISTERING_ANDROID_APP",
        "android_client_info": {
          "package_name": "com.tabaaq.mobile"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
